</div>

<div class="navbar_mobile">
    <a href="index.html" class="fundo texto">
        <img class="icon" src="assets/icons/home_w.png" alt="icon menu" />
    </a><!--
    --><a href="animais.html" class="fundo nav_active texto">
        <img class="icon" src="assets/icons/animal_w.png" alt="icon animais" />
    </a><!--
    --><a href="galeria.html" class="fundo texto">
        <img class="icon" src="assets/icons/gallery_w.png" alt="icon galeria" />
    </a><!--
    --><a href="contacto.html" class="fundo texto">
        <img class="icon" src="assets/icons/contacto_w.png" alt="icon contacto" />
    </a><!--SS
    --><a href="sobre.html" class="fundo   texto">
        <img class="icon" src="assets/icons/sobre_w.png" alt="icon sobre" />
    </a>
</div>

<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>