<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Gustavo Nascimento / Gonçalo Calisto / João Silva">
    <meta name="description" content="Menu">
    <meta name="keywords" content="Animais, Perigo, Animais em vias de extinçaõ">
    <title>Soon to be Invisible - Galeria</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
</head>
<body class="galeria">
    <nav class="navbar">
        <div class="content">
            <a href="index.html" class="fundo texto">Menu</a><!--
            --><form action="animais" method="POST">
                <button class="nav_bt texto" type="submit">Animais</button>
            </form><!--
            --><form action="galeria" method="POST">
                <button class="nav_bt nav_active texto" type="submit">Galeria</button>
            </form><!--
            --><a href="contacto.html" class="fundo texto">Contacto</a><!--
            --><a href="sobre.html" class="fundo texto">Sobre</a>
        </div>
    </nav>

    <div class="tudoMenosNav">